<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>MySQL Test App</description>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/TestDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>websiteview.services.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductViewer</servlet-name>
        <servlet-class>websiteview.services.ProductViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageLoader</servlet-name>
        <servlet-class>websiteview.services.ImageLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CssLoader</servlet-name>
        <servlet-class>websiteview.services.CssLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainWindowLoader</servlet-name>
        <servlet-class>websiteview.services.MainWindowLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Header</servlet-name>
        <servlet-class>websiteview.services.Header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCartAdder</servlet-name>
        <servlet-class>websiteview.services.ProductCartAdder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPage</servlet-name>
        <servlet-class>websiteview.services.ProductPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByPrice</servlet-name>
        <servlet-class>websiteview.services.SearchByPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCartRemover</servlet-name>
        <servlet-class>websiteview.services.ProductCartRemover</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductViewer</servlet-name>
        <url-pattern>/productviewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageLoader</servlet-name>
        <url-pattern>/imageloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CssLoader</servlet-name>
        <url-pattern>/cssloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainWindowLoader</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Header</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCartAdder</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPage</servlet-name>
        <url-pattern>/productpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByPrice</servlet-name>
        <url-pattern>/SearchByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCartRemover</servlet-name>
        <url-pattern>/removeitem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
